In [1]:
import pandas as pd

In [4]:
pew_df = pd.read_csv('data/pew.csv')

In [5]:
pew_df.melt()

               variable               value
0              religion            Agnostic
1              religion             Atheist
2              religion            Buddhist
3              religion            Catholic
4              religion  Don’t know/refused
..                  ...                 ...
193  Don't know/refused                  73
194  Don't know/refused                  18
195  Don't know/refused                  71
196  Don't know/refused                   8
197  Don't know/refused                 597

[198 rows x 2 columns]

In [6]:
pew_df.head(1)

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96

In [10]:
pew_df.melt(id_vars=['religion'], var_name="income", value_name="count")

                  religion              income  count
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Don’t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [14]:
car_df = pd.read_csv('인천광역시_소방장비 현황_20201231.csv',encoding='cp949')

In [15]:
car_df.columns

Index(['소방서별(1)', '특수소방차_고가차', '특수소방차_고가차_55m', '특수소방차_고가차_52m',
       '특수소방차_고가차_50m', '특수소방차_고가차_46m', '특수소방차_고가차_40m', '특수소방차_고가차_32m',
       '특수소방차_굴절차', '특수소방차_굴절차_45m', '특수소방차_굴절차_41m', '특수소방차_굴절차_35m',
       '특수소방차_굴절차_27m', '특수소방차_굴절차_18.5m', '특수소방차_방수탑차_22m', '특수소방차_화학차',
       '특수소방차_화학차_내폭', '특수소방차_화학차_고성능', '특수소방차_화학차_일반', '특수소방차_배연차',
       '특수소방차_구조공작차', '특수소방차_제독차', '특수소방차_화생방차', '특수소방차_조명차·조연차', '특수소방차_구조버스',
       '특수소방차_펌프차', '특수소방차_펌프차_대형', '특수소방차_펌프차_중형', '특수소방차_펌프차_소형',
       '특수소방차_물탱크차', '특수소방차_구급차', '특수소방차_구급차_승합형', '특수소방차_구급차_화물형',
       '특수소방차_지휘차', '특수소방차_재난지원차', '특수소방차_홍보차', '특수소방차_점검차', '특수소방차_순찰차',
       '특수소방차_화재조사차', '특수소방차_굴삭기', '특수소방차_견인차', '특수소방차_미분무가스소방차',
       '특수소방차_기타(이동체험이동정비)', '행정차_유조차', '행정차_행정차_승용차', '행정차_행정차_승합차',
       '행정차_행정차_화물차', '행정차_교육용차', '기타차_이륜차', '기타차_트레일러', '기타차_헬기',
       '기타차_소방구조정'],
      dtype='object')

In [17]:
car_df.melt(id_vars='소방서별(1)')

    소방서별(1)   variable  value
0      소방본부  특수소방차_고가차    NaN
1     중부소방서  특수소방차_고가차    1.0
2     남동소방서  특수소방차_고가차    2.0
3     부평소방서  특수소방차_고가차    1.0
4     서부소방서  특수소방차_고가차    2.0
..      ...        ...    ...
607  미추홀소방서  기타차_소방구조정    NaN
608   강화소방서  기타차_소방구조정    NaN
609   영종소방서  기타차_소방구조정    NaN
610   송도소방서  기타차_소방구조정    NaN
611    소방학교  기타차_소방구조정    NaN

[612 rows x 3 columns]

In [20]:
car_df_melt.rename(columns={"소방서별(1)": "소방서명", "variable": "차량종류"}, inplace=True)

NameError: name 'car_df_melt' is not defined

In [21]:
car_df_melt).head(1)

SyntaxError: unmatched ')' (2133596239.py, line 1)

In [22]:
car_df_melt.columns

NameError: name 'car_df_melt' is not defined

In [24]:
billboard_df = pd.read_csv('data/billboard.csv')

In [26]:
billboard_df.columns

Index(['year', 'artist', 'track', 'time', 'date.entered', 'wk1', 'wk2', 'wk3',
       'wk4', 'wk5', 'wk6', 'wk7', 'wk8', 'wk9', 'wk10', 'wk11', 'wk12',
       'wk13', 'wk14', 'wk15', 'wk16', 'wk17', 'wk18', 'wk19', 'wk20', 'wk21',
       'wk22', 'wk23', 'wk24', 'wk25', 'wk26', 'wk27', 'wk28', 'wk29', 'wk30',
       'wk31', 'wk32', 'wk33', 'wk34', 'wk35', 'wk36', 'wk37', 'wk38', 'wk39',
       'wk40', 'wk41', 'wk42', 'wk43', 'wk44', 'wk45', 'wk46', 'wk47', 'wk48',
       'wk49', 'wk50', 'wk51', 'wk52', 'wk53', 'wk54', 'wk55', 'wk56', 'wk57',
       'wk58', 'wk59', 'wk60', 'wk61', 'wk62', 'wk63', 'wk64', 'wk65', 'wk66',
       'wk67', 'wk68', 'wk69', 'wk70', 'wk71', 'wk72', 'wk73', 'wk74', 'wk75',
       'wk76'],
      dtype='object')

In [33]:
billboard_melt = billboard_df.melt(id_vars=['year','artist','track','time','date.entered'])

In [34]:
billboard_melt.columns = ['year','artist','track','time','date.entered','week','rating']

In [35]:
billboard_melt.columns

Index(['year', 'artist', 'track', 'time', 'date.entered', 'week', 'rating'], dtype='object')